body {
    padding:0;
    background:#eee;
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.about {
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 50px;
    width:700px; height:550px;
    text-align: left;
}
.nav {
}
.nav a {
    margin:0;
    color:#000;
    margin-bottom: 0;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}

.map {
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 50px;
    width:700px; height:550px;
}
.map .leaflet-popup-content-wrapper {
    background:#eee;
    color:#000000;
    font-size:12px;
    line-height:24px;
    outline-style:solid;
    outline-color: #ccc;
}
.map .leaflet-popup-content-wrapper a {
    color:#036298;
    font-weight: bold;
}
.map .leaflet-popup-tip-container {
    width:320px;
    height:15px;
}
.map .leaflet-popup-tip {
    border-left:25px solid transparent;
    border-right:25px solid transparent;
    border-top:25px solid transparent;
}

.thumbnail {
    margin-top:5px;
}