    .gone{
	color: red;	
    }
    .black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
        background-color: #fefefe;
        z-index:1002;
        overflow: auto;
    }

html, body {
    background:#fefefe;
    font-family: sans-serif;
    text-align: left;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
.title {
    font-weight: bold;
    font-size:28px;
    padding-bottom: 5px;
}
.nav {
    background:#fefefe;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 1;
    text-align: center;
}
.nav a, .white_content a {
    margin:0;
    color:#000;
    text-decoration: none;
    margin-bottom: 0;
    font-weight: bold;
}
.nav a {
    padding-right: 10px;
    padding-left: 10px;
}
.map {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
.map .leaflet-popup-content-wrapper {
    background:#eee;
    color:#000000;
    font-size:12px;
    line-height:24px;
    outline-style:solid;
    outline-color: #ccc;
    font-weight: bold;
}
.map .leaflet-popup-content-wrapper a {
    color:#036298;
    font-weight: bold;
}
.map .leaflet-popup-tip-container {
    width:320px;
    height:15px;
}
.map .leaflet-popup-tip {
    border-left:25px solid transparent;
    border-right:25px solid transparent;
    border-top:25px solid transparent;
}

.thumbnail {
    margin-top:5px;
    width:300px;
}
.simplediv {
    z-index: 2;
}
.about {
    font-size: 22px;
    margin-top: 75px;
    margin-bottom: 50px;
    width:90%;
    padding-left: 15px;
    padding-right: 15px;
    height:550px;
    text-align: left;
}
  .info {
    z-index: 1;
    position:absolute;
    width:100%;
    height:90px ;
    bottom:15px;
    padding:0;
    margin:0;
    left:0px;
    overflow : auto;
    white-space:nowrap;
    display:inline-block;
    overflow-y:hidden;
    vertical-align: top;
    }
.infoheader{
    z-index: 1;
    position:absolute;
    bottom:105px;
    left:0px;
    background: #fefefe;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
.lazyload{

    height:75px;
    width:auto;
    border-left: solid #fefefe;
    border-left: solid #fefefe;
}

.navthumb{

    height:75px;
    width:auto;
    border-left: solid #fefefe;
    border-left: solid #fefefe;
}